[Unit]
Description=CloudWatch Exporter Service
After=network.target

[Service]
Environment=AWS_PROFILE="/etc/cloudwatch-exporter/aws_profile"
Type=simple
User=cloudwatch
ExecStart=/usr/bin/java -jar /usr/local/bin/cloudwatch-exporter.jar 9106 /etc/cloudwatch-exporter/config.yaml

[Install]
WantedBy=multi-user.target
